<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Todolist</title>
</head>

<body>

    <h1>Ma Kamoulist</h1>
    <ul>
        <li>Couper le jardinier</li>
        <li>Engager des plantes</li>
        <li>Peindre le chien</li>
        <li>Nourrir les volets</li>
    </ul>

    <input type="text">
    <input type="submit">

</body>

</body>

</html>