<h2>This is a test</h2>

<h4>The param value:<%= counter %></h4>

<p>The counter</p>
<p>
    <% for(var i=0;i<=counter; i++){ %>  
    <%= i%>
    <% } %>

    <% tab.forEach(function(element){%>
        <%= element  %>
    <% }); %>

</p>
<br>
<p><bold>Infos: </bold> <% %> effectuer des calculs  \<%= %> afficher n'importe quelle var js coté serveur , Pas possible de combiner les deux d'un coup</p>

<p></p>Exemple simple EJS</p>
